/* Reset */
* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
}

:root {
    --link-color: #f9a900;
    --text-color: #e6e3e3;
    --bg-color: #150f0e;
    --src-bg-color: #1d1f21;
    --src-fg-color: #c5c8c6;
}

body {
    font-family: monospace;
    line-height: 1.60;
    letter-spacing: -0.01em;
    text-rendering: optimizeLegibility;
    font-size: 1.0rem;
    margin: 0px auto;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background: var(--bg-color);
    color: var(--text-color);
}

.param-group {
    padding: 0.3em;
    width: min-content;
    border: 1px solid var(--src-fg-color);
}

.param-row {
    width: 220px;
    font-size: 0.9em;
}

.param-row > label {
    display: inline-block;
    width: 150px;
}

.param-row > input, .param-row > select {
    float: right;
}

input[type=""], select {
    text-align: right;
    width: 60px;
    background: var(--src-bg-color);
    color: var(--src-fg-color);
}

input[type=""]:focus {
    border: 1px solid var(--text-color);
}

input[type="color"] {
    width: 60px;
    height: 1em;
}
